<!doctype html>
<html data-ng-app="appConfigurator">
    <head>
        <meta charset="utf-8">
        <title>Danfoss Конфигуратор</title>
        <link rel="stylesheet" type="text/css" href="common/css/side-menu-popup.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/levels/css/main.css" media="all" />
        <link rel="stylesheet" type="text/css" href="common/css/default.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/css/jquery-ui.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/css/ui.angular.modal.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/css/perfect-scrollbar.css" media="all">
        <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="common/css/ie8.css" media="all"><![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href="common/img/favicon.ico" type="image/x-icon" rel="icon">
        <link href="common/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <!--level page templates-->
        <script id="cell_template" type="text/template">
            <div class="bg animate_cell">
                <div class="title"></div>
                <div class="circle animate_circle circle_floor hide">
                    <div class="circle_title"></div>
                </div>
                <div class="circle animate_circle circle_wall hide">
                    <div class="circle_title"></div>
                </div>
                <div class="door_switch"></div>
                <div class="wall_switch"></div>
                <div class="hover_bg animate_all"></div>
                <div class="main_bg"></div>
            </div>
            <div class="shadow"></div>
        </script>
        <script id="ui_template" type="text/template">
            <div class="wrapper">
                <div data-id='3' class="level-arrow arrow_top"></div>
            </div>
            <div data-id='4' class="level-arrow arrow_bottom"></div>
        </script>
        <script id="floor_template" type="text/template">
            <div class="checked animate_floor_map"></div>
            <div class="level_title"><%= title %></div>
            <div class="level_map_container"></div>
        </script>
        <!--/level page templates-->
    </head>
    <body ng-controller="BaseCtrl">

        <div id="sidebar">
            
            <div class="sidebar-sliding-layout">
                <div class="menu-aside-popup" ng-init="showPopupMenu = false;" ng-show="showPopupMenu == true" ng-click="$event.stopPropagation();">
                    <aside>
                        <div class="bc"></div>
                        <!--<a class="logo" href="#main">-->
                        <img class="logo" src="common/img/side-menu-popup/logo.png" alt="Danfoss">
                        <!--</a>-->
                        <div class="textAndPhone">
                            <p class="text">Отопление&nbsp;коттеджей</p>
                            <nobr><p class="phone">+7 (495) 258-07-08</p></nobr>
                        </div>
                        <nav class="upMenu">
                            <a class="menuItem" href="#">конфигуратор</a>
                            <div class="menuItem hasSubMenu">
                                каталог
                                <!--<div class="subMenu">
                                <ul class="catalogIcon">
                                    <li><span class="number">01</span><a href="#"><span class="text">Радиаторные<br /> терморегуляторы<br /> и&nbsp;запорные&nbsp;клапаны</span></a></li>
                                    <li><span class="number">02</span><a href="#"><span class="text">Терморегуляторы<br /> для&nbsp;напольного<br /> отопления</span></a></li>
                                    <li><span class="number">03</span><a href="#"><span class="text">Коллекторы<br /> и&nbsp;узлы&nbsp;смешения</span></a></li>
                                    <li><span class="number">04</span><a href="#"><span class="text">Комнатные&nbsp;термостаты<br /> и&nbsp;термостаты&nbsp;гвс</span></a></li>
                                    <li><span class="number">05</span><a href="#"><span class="text">Трубопроводная<br /> арматура</span></a></li>
                                    <li><span class="number">06</span><a href="#"><span class="text">Насосные&nbsp;узлы<br /> обвязки&nbsp;котла</span></a></li>
                                </ul>
                            </div>-->
                            </div>
                            <a class="menuItem" href="allNews.html">статьи</a>
                            <a class="menuItem" href="whereToBuy.html">где&nbsp;купить</a>
                        </nav>
                        <footer class="asideFooter">
                            <nav class="downMenu">
                                <a class="menuItem" href="about.html">О&nbsp;компании</a>
                                <a class="menuItem" href="allNews.html">Новости</a>
                                <a class="menuItem" href="contacts.html">Контакты</a>
                                <a class="menuItem" href="payment.html">Оплата</a>
                                <a class="menuItem" href="shipping.html">Доставка</a>
                                <a class="menuItem" href="#">Личный&nbsp;кабинет</a>
                            </nav>

                            <div class="courseEuro">
                                <p>eur&nbsp;цб&nbsp;рф&nbsp;48,2398</p>
                            </div>
                        </footer>
                    </aside>
                </div>

                <div id="sidebar-panel">

                    <div id="sidebar-panel-top">
                        <a class="button-icon button-menu" ui-sref-active="active" ng-href="#" ng-click="$event.preventDefault(); showPopupMenu = true;"></a>
                    </div>
                    <!-- <div id="nav" class="hidden-{{SIDEBAR.HIDE}}">
                     <div class="button-icon button-save" title="Сохранить"></div>
                     <div class="button-icon button-load" title="Загрузить"></div>
                 </div> -->
                    <!-- <div class="button-icon button-clear" title="Удалить"></div> -->
                    <div id="nav">
                        <a ng-href="#/level" ng-class="NAV_CSS('configurator');" ng-click="TRY_CLICK($event, 'configurator');" title="Редактирование"></a>
                        <a ng-href="#/summary" class="summary" ng-class="NAV_CSS('summary');" ng-click="TRY_CLICK($event, 'summary');" title="Информация по заказу"></a>
                        <a ng-href="#/order" class="order" ng-click="$event.preventDefault(); SAVE();" title="Сохранить расчет"></a>
                        <a ng-href="#/reset" class="reset" ng-click="$event.preventDefault(); RESET();" title="Сбросить параметры"></a>
                    </div>
                    <div id="login">
                        <a ng-href="../User/Account" class="account"><img src="common/img/avatar.png" alt="" /></a>
                        <a ng-href="#/help" class="help" ng-click="$event.preventDefault();"></a>
                    </div>
                </div>
            </div>
            
            <div id="sidebar-content">
                <h2><span>{{BASE_PAGE.title}}</span></h2>

                <div class="tree-button" ng-click="TREE.toggle()" ng-hide="TREE.hidden">

                </div>

                <div class="tree-view" ng-show="TREE.open" ng-click="$event.stopPropagation();">
                    <div class="level" ng-repeat="level in TREE.levels | filter: {isLevel: true} | orderBy: '-isBasement' ">
                        <h3>{{TREE.levelName(level)}}</h3>

                        <div class="node" ng-class="{'marked' : room.visited, 'current' : TREE.current === room }" ng-repeat="room in level.rooms | filter : {isRoom:true}">
                            <a ng-href="#/room/{{level.id}}/{{room.id}}" ng-show="TREE.editing !== room">{{room.name}}</a>
                            <input type="text" ng-model="room.name" ng-show="TREE.editing === room" ng-keyup="TREE.editPressEnter($event, level.id, room.id);" ng-blur="TREE.endEdit(level.id, room.id);" />
                            <input ng-show="TREE.editable(room)" class="edit" type="button" value="" alt="Переименовать" ng-click="TREE.beginEdit($event.target, level.id, room.id);" />
                            <input ng-show="TREE.editable(room)" class="delete" type="button" value="" alt="Удалить" ng-click="TREE.removeRoom(level.id, room.id)" />
                        </div>
                        <div class="add" ng-if="TREE.hasMoreRooms(level.id)">
                            <input type="button" value="Новая комната" ng-click="TREE.addRoom(level.id)" />
                        </div>
                    </div>
                </div>

                <div id="sidebar-view" ui-view="sidebar">

                </div>
            </div><!-- #sidebar-content -->
        </div><!-- #sidebar -->

        <div id="viewport">
            <div id="viewport-inner" ui-view="content"></div>
        </div><!-- #viewport -->
        
        <div class="menu-aside-popup-shade" ng-click="showPopupMenu = false;" ng-show="showPopupMenu == true"></div>


        <div id="basket" ng-controller="BasketCtrl" ng-init="TOGGLE_BASKET = true" ng-hide="BASKET_HIDDEN" ng-cloak ng-class="{'basket-opened': !TOGGLE_BASKET}" ng-click="$event.stopPropagation();">
            <div class="basket-sum" ng-click="TOGGLE_BASKET = !TOGGLE_BASKET">
                <span class="sum" id="basket-sum">{{BASKET_TOTAL_PRICE()}}</span> руб.
            </div>
            <div class="basket-count" ng-click="TOGGLE_BASKET = !TOGGLE_BASKET">
                <span class="sum" id="basket-count">{{BASKET_TOTAL_COUNT()}}</span>
            </div>
            <div id="basket-popup" class="hidden-{{TOGGLE_BASKET}} autoscroll">
                <div class="button-close" ng-click="TOGGLE_BASKET = !TOGGLE_BASKET"></div>
                <h2>Корзина</h2>
                <table>
                    <tr>
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="(CODE, COUNT) in BASKET()">
                            <td>{{CODE}} - {{CATALOG[CODE].name || CODE}}</td>
                            <td>{{COUNT | number:0 | formatNumber}}</td>
                            <td>{{CATALOG[CODE].price * COUNT | number:0 | formatNumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="basket-total">
                    <span class="title left">Итого</span>
                    <span class="right">
                        <span class="sum" id="basket-total">{{BASKET_TOTAL_PRICE()}}</span>
                        <span class="rub">руб.</span>
                    </span>
                </div>
                <div class="basket-nav">
                    <!--<a ui-sref-active="active" ng-href="#/summary" class="button button-next" title="Информация по заказу">Информация по заказу</a>-->
                    <a ui-sref-active="active" ng-href="#/summary" class="button" title="Подробнее" >Подробнее</a>
                </div>
            </div><!-- #basket-popup -->
        </div>
        

        <script src="common/js/jquery.js"></script>
        <script src="common/js/jquery-ui.min.js"></script>
        <script src="common/js/jquery.mousewheel.js"></script>
        <script src="common/js/angular.min.js"></script>
        <script src="common/js/angular-ui-router.min.js"></script>
        <script src="common/js/angular.tabs.js"></script>
        <script src="common/js/angular-locale_ru.js"></script>
        <script src="common/js/angular-animate.min.js"></script>
        <script src="common/js/angular.jquery-ui.slider.js"></script>
        <script src="common/js/angular-sanitize.min.js"></script>
        <script src="common/js/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="common/js/perfect-scrollbar.js"></script>
        <script src="common/js/jspdf.debug.js"></script>
        <script src="common/js/app-db.js"></script>
        <script src="common/js/app-model.js"></script>
        <script src="common/js/app-views.js"></script>
        <script src="common/js/app-animate.js"></script>
        <script src="common/js/app-directives.js"></script>
        <script src="common/js/app-controllers.js"></script>
        <!--<script src="common/js/app-test-data-gen.js"></script>-->
        <script src="common/levels/js/main.js"></script>

        <script type="text/ng-template" id="set-dest-collector.html">
            <div class="modal-header">
                <h3 class="modal-title">Удаление коллектора {{EDITED_COLLECTOR.type == "floor" ? "теплого пола" : "радиатора"}}</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">{{TITLE}}
                    <p>На этаже не осталось коллекторов.<br/> К какому коллектору подключить этаж?</p>{{TO_COLLECTOR_ID}}
                    <div class="radio">
                        <label ng-repeat="COLLECTOR in GET_FREE_COLLECTORS()" class="radio radio-{{MODAL.TO_COLLECTOR_ID == COLLECTOR._id}} hidden-{{!COLLECTOR.isCollector()}}" ng-click="SET(COLLECTOR)">
                            <input type="radio"/>
                            <span class="title disabled-{{COLLECTOR.disabled}}" > <strong>{{COLLECTOR.setup_level.name}}</strong>&nbsp;{{COLLECTOR.name}}&nbsp;(свободно: {{24 - COLLECTOR.entries}} вх.)
                            </span><span class="validation hidden-{{!COLLECTOR.disabled}}">Подключение к коллектору невозможно</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="button" ng-click="CANCEL_SET_COLLECTOR()">Отмена</div>    
                <div class="button button-next" ng-click="SET_COLLECTOR()">Применить</div>
            </div>
        </script>
    </body>
</html>
