<!doctype html>
<html data-ng-app="appConfigurator">
    <head>
        <meta charset="utf-8">
        <title>Danfoss Конфигуратор</title>
        <link rel="stylesheet" type="text/css" href="common/levels/css/main.css" media="all" />
        <link rel="stylesheet" type="text/css" href="common/css/default.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/css/jquery-ui.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/css/ui.angular.modal.css" media="all">
        <link rel="stylesheet" type="text/css" href="common/css/perfect-scrollbar.css" media="all">
        <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="common/css/ie8.css" media="all"><![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href="common/img/favicon.ico" type="image/x-icon" rel="icon">
        <link href="common/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <!--level page templates-->
        <script id="cell_template" type="text/template">
            <div class="bg animate_cell">
                <div class="title"></div>
                <div class="circle animate_all circle_floor hide">
                    <div class="circle_title"></div>
                </div>
                <div class="circle animate_all circle_wall hide">
                    <div class="circle_title"></div>
                </div>
                <div class="door_switch"></div>
                <div class="wall_switch"></div>
                <div class="hover_bg animate_all"></div>
                <div class="main_bg"></div>
            </div>
            <div class="shadow"></div>
        </script>
        <script id="ui_template" type="text/template">
            <div class="wrapper">
                <div data-id='3' class="level-arrow arrow_top"></div>
                <div data-id='1' class="level-arrow">Создать</div>
                <div data-id='2' class="level-arrow">Удалить</div>
            </div>
            <div data-id='4' class="level-arrow arrow_bottom"></div>
        </script>
        <script id="floor_template" type="text/template">
            <div class="checked animate_floor_map"></div>
            <div class="level_title"><%= title %></div>
            <div class="level_map_container"></div>
        </script>
        <!--/level page templates-->
    </head>
    <body ng-controller="BaseCtrl">

        <div id="sidebar">
            <div id="sidebar-panel">
                <div id="sidebar-panel-top" ng-init="SIDEBAR.HIDE = true" ng-mouseenter="SIDEBAR.HIDE = false" ng-mouseleave="SIDEBAR.HIDE = true">
                    <a class="button-icon button-menu" ui-sref-active="active" ng-href="#"></a>
                </div>
                <!-- <div id="nav" class="hidden-{{SIDEBAR.HIDE}}">
                         <div class="button-icon button-save" title="Сохранить"></div>
                         <div class="button-icon button-load" title="Загрузить"></div>
                     </div> -->
                <!-- <div class="button-icon button-clear" title="Удалить"></div> -->
                <div id="nav">
                    <a ui-sref-active="active" ui-sref="cottage" title="Редактирование"></a>
                    <a ui-sref-active="active" ui-sref="summary" title="Информация по заказу" class="summary"></a>
                    <a ui-sref-active="active" ng-href="#/order" ng-click="$event.preventDefault(); SAVE();" title="Оформление заказа" class="order"></a>
                    <a ui-sref-active="active" ui-sref="cottage" title="Сбросить параметры" class="reset"></a>
                </div>
            </div>
            <div id="sidebar-content">
                <h2><span>{{BASE_PAGE.title}}</span></h2>
                <div id="sidebar-view" ui-view="sidebar">

                </div>
            </div><!-- #sidebar-content -->
        </div><!-- #sidebar -->

        <div id="viewport">
            <div id="viewport-inner" ui-view="content"></div>
        </div><!-- #viewport -->


        <div id="basket" ng-controller="BasketCtrl" ng-init="TOGGLE_BASKET = true" ng-cloak ng-class="{'basket-opened': !TOGGLE_BASKET}">
            <div class="basket-sum" ng-click="TOGGLE_BASKET = !TOGGLE_BASKET">
                <span class="sum" id="basket-sum">{{BASKET_TOTAL_PRICE()}}</span> руб.
            </div>
            <div class="basket-count" ng-click="TOGGLE_BASKET = !TOGGLE_BASKET">
                <span class="sum" id="basket-count">{{BASKET_TOTAL_COUNT()}}</span>
            </div>
            <div id="basket-popup" class="hidden-{{TOGGLE_BASKET}} autoscroll">
                <div class="button-close" ng-click="TOGGLE_BASKET = !TOGGLE_BASKET"></div>
                <h2>Корзина</h2>
                <table>
                    <tr>
                        <th>Наименование</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                    </tr>
                    <tbody>
                        <tr ng-repeat="(CODE, COUNT) in BASKET()">
                            <td>{{CODE}} - {{CATALOG[CODE].name || CODE}}</td>
                            <td>{{COUNT | number:0 | formatNumber}}</td>
                            <td>{{CATALOG[CODE].price * COUNT | number:0 | formatNumber}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="basket-total">
                    <span class="title left">Итого</span>
                    <span class="right">
                        <span class="sum" id="basket-total">{{BASKET_TOTAL_PRICE()}}</span>
                        <span class="rub">руб.</span>
                    </span>
                </div>
                <div class="basket-nav">
                    <!--<a ui-sref-active="active" ng-href="#/summary" class="button button-next" title="Информация по заказу">Информация по заказу</a>-->
                    <a ui-sref-active="active" ng-href="#/summary" class="button" title="Подробнее">Подробнее</a>
                </div>
            </div><!-- #basket-popup -->
        </div>

        <script src="common/js/jquery.js"></script>
        <script src="common/js/jquery-ui.min.js"></script>
        <script src="common/js/jquery.mousewheel.js"></script>
        <script src="common/js/angular.min.js"></script>
        <script src="common/js/angular-ui-router.min.js"></script>
        <script src="common/js/angular.tabs.js"></script>
        <script src="common/js/angular-locale_ru.js"></script>
        <script src="common/js/angular-animate.min.js"></script>
        <script src="common/js/angular.jquery-ui.slider.js"></script>
        <script src="common/js/angular-sanitize.min.js"></script>
        <script src="common/js/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="common/js/perfect-scrollbar.js"></script>
        <script src="common/js/app-db.js"></script>
        <script src="common/js/app-model.js"></script>
        <script src="common/js/app-views.js"></script>
        <script src="common/js/app-animate.js"></script>
        <script src="common/js/app-controllers.js"></script>
        <!--<script src="common/js/app-test-data-gen.js"></script>-->
        <script src="common/levels/js/main.js"></script>

        <script type="text/ng-template" id="set-dest-collector.html">
            <div class="modal-header">
                <h3 class="modal-title">Удаление коллектора {{EDITED_COLLECTOR.type == "floor" ? "теплого пола" : "радиатора"}}</h3>
            </div>
            <div class="modal-body">
                <div class="modal-body-content">{{TITLE}}
                    <p>На этаже не осталось коллекторов.<br/> К какому коллектору подключить этаж?</p>{{TO_COLLECTOR_ID}}
                    <div class="radio">
                        <label ng-repeat="COLLECTOR in GET_FREE_COLLECTORS()" class="radio radio-{{MODAL.TO_COLLECTOR_ID == COLLECTOR._id}} hidden-{{!COLLECTOR.isCollector}}" ng-click="SET(COLLECTOR)">
                            <input type="radio"/>
                            <span class="title disabled-{{COLLECTOR.disabled}}" > <strong>{{COLLECTOR.setup_level.name}}</strong>&nbsp;{{COLLECTOR.name}}&nbsp;(свободно: {{24 - COLLECTOR.entries}} вх.)
                            </span><span class="validation hidden-{{!COLLECTOR.disabled}}">Подключение к коллектору невозможно</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="button" ng-click="CANCEL_SET_COLLECTOR()">Отмена</div>    
                <div class="button button-next" ng-click="SET_COLLECTOR()">Применить</div>
            </div>
        </script>
    </body>
</html>
