<div class="account-page autoscroll">
    <div class="account-layout">
        <h1>Личный кабинет</h1>
        <div ng-tabs ng-init="tabs.index = MODEL.activeTab" class="account-tabs">
            <div class="tab-items">
                <div ng-tab-head>Профиль</div>
                <div ng-tab-head>Заказы</div>
            </div>
            <form ng-tab-body novalidate name="profile" class="account-profile" ng-submit="SUBMIT_PROFILE()">
                <h2>Контактная информация</h2>
                <label>
                    <span>Имя</span>
                    <input type="text" name="name" ng-model="MODEL.name" required ng-focus />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.name)">
                    Это поле обязательно.
                </div>

                <label>
                    <span>Email</span>
                    <input type="email" name="email" ng-model="MODEL.email" ng-focus />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.email)">
                    Укажите адрес электронной почты.
                </div>

                <label>
                    <span>Мобильный телефон</span>
                    <input type="tel" name="phone" ng-model="MODEL.phone" required ng-focus />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.phone)">
                    Укажите мобильный телефон.
                </div>

                <h2>Адрес доставки</h2>
                <label>
                    <span>Город</span>
                    <input type="text" name="city" ng-model="MODEL.city" />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.city)">
                    Укажите город.
                </div>

                <label>
                    <span>Улица</span>
                    <input type="text" name="street" ng-model="MODEL.street" />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.street)">
                    Укажите город.
                </div>

                <label>
                    <span>Дом, корпус</span>
                    <input type="text" name="building" ng-model="MODEL.building" />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.building)">
                    Укажите номер дома.
                </div>

                <label>
                    <span>Квартира, офис</span>
                    <input type="text" name="room" ng-model="MODEL.room" />
                </label>
                <div class="validation-message" ng-if="FORM.invalid(profile.room)">
                    Укажите номер квартиры или офиса.
                </div>
                
                <div class="account-submit">
                    <input type="submit" value="Сохранить" />
                </div>
            </form>

            <div ng-tab-body class="account-orders">
                <table ng-if="MODEL.orders.length > 0">
                    <tbody>
                        <tr class="account-orders-header"><td class="name" colspan="4">Сохраненные</td></tr>
                        <tr ng-repeat="order in MODEL.orders | filter: { status: STATUS.saved } | orderBy : 'date' : true ">
                            <td class="name">Заказ №{{order.id}}</td>
                            <td class="date">{{order.date | formatDate}}</td>
                            <td class="price">{{order.rub}} руб.</td>
                            <td class="buttons">
                                <button class="edit" ng-click="EDIT(order.id)"></button>
                                <button class="delete" ng-click="DELETE(order.id)"></button>
                            </td>
                        </tr>

                        <tr class="account-orders-header"><td class="name" colspan="4">Оформленные</td></tr>
                        <tr ng-repeat="order in MODEL.orders | filter: { status: STATUS.confirmed } | orderBy: 'date' : true ">
                            <td class="name">Заказ №{{order.id}}</td>
                            <td class="date">{{order.date | formatDate}}</td>
                            <td class="price">{{order.rub}} руб.</td>
                            <td class="buttons">
                                <button class="review" ng-click="REVIEW(order.id)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="no-orders" ng-if="MODEL.orders.length == 0">
                    <img alt="Нет заказов" src="common/img/account/no-orders.png" />
                    <h2>Заказов нет</h2>
                    <a class="no-orders-link" href="#">
                        Попробуйте начать с конфигуратора <i class="icon-next"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>