<div class="autoscroll">
	<div class="group">
        <div ng-if="COLLECTOR.isCollector()">
		    <h3>К этому коллектору подключены <i class="icon-info" ng-click="INFO.open(1)" ng-class="{'active' : INFO.show(1)}"></i><i class="info-pointer"></i></h3>
		    <div class="level-items clearfix">
			    <label ng-repeat="LEVEL in LEVELS | filter:{isLevel: true} | orderBy:'-isBasement'" class="label-checkbox checkbox-{{COLLECTOR.levels[LEVEL.id]}} level-item">
				    <span class="pseudo-checkbox"></span>
                    <input type="checkbox" ng-model="COLLECTOR.levels[LEVEL.id]" ng-change="validateCollectors(CURRENT_LEVEL, LEVEL.id, LEVELS, COLLECTOR);">
				    <div class="room-items clearfix">
					    <div
						    ng-repeat="ROOM in LEVEL.rooms"
						    ng-class="{'is-room': ROOM.id <= LEVEL.roomsCount}"
						    class="room-item"
					    >
					    </div>
				    </div>
				    {{LEVEL.canonicalName()}}
			    </label>
		    </div>
        </div>    
        <!--<div class="level-items clearfix">
            <label class="label-switchbox small switchbox-{{COLLECTOR.isCollector()}}">
                <span ng-if="COLLECTOR.isCollector()">Отключить</span><span ng-if="!COLLECTOR.isCollector()">Включить</span> коллектор
			        <input type="checkbox"
				        ng-model="COLLECTOR.isCollector()"
				        ng-change="validateCollectors(CURRENT_LEVEL, LEVELS, COLLECTOR)"
			        >
            </label>
        </div>-->
	</div>
	<div class="group">
        <h3>Количество заходов <i class="icon-info" ng-click="INFO.open(2)" ng-class="{'active' : INFO.show(2)}"></i><i class="info-pointer"></i></h3>        
        <label class="label-switchbox small switchbox-{{PROPERTIES.autoCalcCollectorInputs}}">
		    Авторасчет	    
			<input type="checkbox" ng-click="AUTO_CALC_INPUTS();" ng-model="PROPERTIES.autoCalcCollectorInputs" class="ng-scope ng-pristine ng-valid">
		</label>
		<div class="slider-wrap">
			Количество:
            <div ui-slider="{range: 'min'}" min="2" max="24"
                 ng-model="COLLECTOR.entries"
                 ng-change="COLLECTOR.sets = (PARAMS.sets | filter: {isFlowmeter: COLLECTOR.isFlowmeter, entries: COLLECTOR.entries})[0].id; 
                 PROPERTIES.autoCalcCollectorInputs = false; 
                 UPDATE_NODES(); 
                 SLIDE_LEFT();"></div>
			<span class="slider-value"><b>{{COLLECTOR.entries}}</b></span>
		</div>
            
	</div>
    <div class="group">
        <div ng-if="COLLECTOR.id == 2" style="padding-bottom:10px">
            <h3>Узел смешения <i class="icon-info" ng-click="INFO.open(3)" ng-class="{'active' : INFO.show(3)}"></i><i class="info-pointer"></i></h3>
            <div class="selectbox clearfix">
                <label class="option-{{COLLECTOR.mixing == ITEM.id}}"
                       ng-repeat="ITEM in PARAMS.mixing" ng-click="COLLECTOR.mixing = COLLECTOR.mixing == ITEM.id ? 0 : ITEM.id; COLLECTOR.fit_088U0301 = (COLLECTOR.mixing == 2 || COLLECTOR.mixing == 4 || COLLECTOR.mixing == 5)">
                    <span class="pseudo-radio">

                    </span>
                    <span class="title">
                        <img src="common/img/products/{{ITEM.preview}}" title="{{ITEM.name}}" /><br />{{ITEM.name}}
                    </span>
                </label>
            </div><!-- .selectbox -->
        </div>
        <h3>Комплектация <i class="icon-info" ng-click="INFO.open(4)" ng-class="{'active' : INFO.show(4)}"></i><i class="info-pointer"></i></h3>
        <div class="selectbox clearfix">
            <label class="label-checkbox checkbox-{{COLLECTOR.isFlowmeter}}">
                <span class="pseudo-checkbox"></span>
                <input type="checkbox"
                       ng-model="COLLECTOR.isFlowmeter"
                       ng-change="COLLECTOR.sets = (PARAMS.sets | filter: {isFlowmeter: COLLECTOR.isFlowmeter, entries: COLLECTOR.entries})[0].id">
                <span class="title"><img src="common/img/products/config-prod-rashodomer.png" title="Расходомер" />Расходомер</span>
            </label>
            <label class="label-checkbox checkbox-{{COLLECTOR.isBallValves}}">
                <span class="pseudo-checkbox"></span>
                <input type="checkbox"
                       ng-model="COLLECTOR.isBallValves"
                       ng-change="TOGGLE_BALL_VALVES()">
                <span class="title"><img src="common/img/products/config-prod-kran.png" title="Шаровые краны" />Шаровые краны</span>
            </label>
        </div>
        <div class="selectbox merged clearfix">
            <label class="label-checkbox" ng-class="{'checkbox-true': COLLECTOR._thermometerIn || COLLECTOR._thermometerOut }" ng-click="TOGGLE_THERMOMETERS();">
                <span class="title"><img src="common/img/products/config-prod-termometr.png" title="Термометры" />Термометры</span>
            </label>
            <div class="merged">
                <label class="label-checkbox half-size checkbox-{{COLLECTOR._thermometerIn}}">
                    <span class="pseudo-checkbox"></span>
                    <input type="checkbox"
                           ng-model="COLLECTOR._thermometerIn"
                           ng-change="SET_TERMOMETRS_COUNT();">
                    <span class="title">Подача</span>
                </label>
                <label class="label-checkbox half-size checkbox-{{COLLECTOR._thermometerOut}}">
                    <span class="pseudo-checkbox"></span>
                    <input type="checkbox"
                           ng-model="COLLECTOR._thermometerOut"
                           ng-change="SET_TERMOMETRS_COUNT();">
                    <span class="title">Возврат</span>
                </label>
            </div>
        </div>
        <div class="selectbox merged clearfix">
            <label class="label-checkbox checkbox-{{COLLECTOR.fittings != 0}}">
                <span class="pseudo-checkbox"></span>
                <input type="checkbox"
                       ng-click="COLLECTOR.fittings = 0;">
                <span class="title"><img src="common/img/products/config-prod-fittings.png" title="Фитинги для труб" />Фиттинги для труб</span>
            </label>
            <label class="label-checkbox checkbox-{{COLLECTOR.fittings != 0}}">
                <select ng-options="ITEM.id as ITEM.name for ITEM in MATERIALS" ng-model="COLLECTOR.fittingsMaterial"></select>
                <select ng-options="ITEM.id as ITEM.name for ITEM in FITTINGS | filter: {type: 2, fittingsMaterial: COLLECTOR.fittingsMaterial}" ng-model="COLLECTOR.fittings"></select>
            </label>
        </div><!-- .selectbox -->
        <div class="selectbox clearfix" ng-if="COLLECTOR.id == 2">
            <label class="option-{{COLLECTOR.fit_088U0301 == ITEM.id}}" ng-if="COLLECTOR.id == 2"
                   ng-repeat="ITEM in PARAMS.fit_088U0301">
                <span class="pseudo-radio">
                    <input type="checkbox"
                           ng-model="COLLECTOR.fit_088U0301"
                           ng-value="{{ITEM.id}}">
                </span>
                <span class="title">
                    <img src="common/img/products/{{ITEM.preview}}" title="{{ITEM.name}}" />Термостат безопасности
                </span>
            </label>
            <label class="option-{{COLLECTOR.fit_088U0305 == 1}}"
                   ng-repeat="ITEM in PARAMS.fit_088U0305">
                <span class="pseudo-radio">
                    <input type="checkbox"
                           ng-model="COLLECTOR.fit_088U0305"
                           ng-value="{{ITEM.id}}">
                </span>
                <span class="title">
                    <img src="common/img/products/{{ITEM.preview}}" title="{{ITEM.name}}" />Угловые фиттинги
                </span>
            </label>
        </div><!-- .selectbox -->
    </div>
</div>
<script type="text/ng-template" id="alert.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ALERT_MESSAGE}}</h3>
    </div>
    <div class="modal-footer">
        <div class="button button-next" ng-click="CLOSE_ALERT()">Ok</div>
    </div>
</script>

