<div id="authenticate-config">
    <div class="modal-header">
        <div class="modal-title">
            Сохранить расчет
            <div class="btn-close" ng-click="FORM.dismiss()"></div>
        </div>
    </div>
    <form class="modal-body" name="auth" novalidate ng-submit="FORM.submit(auth)">
        <div class="legend">Введите контакные данные для регистрации и сохранения текущей конфигурации.</div>
        <div class="validation-text" ng-repeat="error in FORM.modalError">
            {{error}}
        </div>
        <div ng-if="FORM.mode == 'register'">
            <input class="contact-field" type="text" name="name" ng-model="FORM.name" placeholder="Ваше имя" />
            <input class="contact-field" type="tel" name="phone" ng-model="FORM.phone" placeholder="Телефон" ng-class="{'validation-field': FORM.phone === ''}" />
            <input ng-init="FORM.setPhoneMask()" class="contact-field" type="email" name="email" ng-model="FORM.email" placeholder="E-mail" ng-class="{'validation-field': FORM.email === '' || auth.email.$error.email}" />
            <a href="#" class="button button-next" ng-click="$event.preventDefault(); FORM.submit(auth)">Сохранить</a>
            <div class="login-link">
                <a href="#" ng-click="$event.preventDefault(); LOGIN()">Вы уже зарегистрированы?</a>
            </div>
        </div>

        <div ng-if="FORM.mode == 'login'">
            <input ng-init="FORM.setPhoneMask()" class="contact-field" type="tel" name="phone" ng-model="FORM.phone" placeholder="Телефон" ng-class="{'validation-field': !FORM.valid}" />
            <div class="text-center">
                <small>или</small>
            </div>
            <div class="validation-text" ng-if="!FORM.valid && auth.email.$error.email">
                Проверьте формат E-mail.
            </div>
            <input class="contact-field" type="email" name="email" ng-model="FORM.email" placeholder="E-mail" ng-class="{'validation-field': !FORM.valid}" />
            <a href="#" class="button button-next" ng-click="$event.preventDefault(); FORM.getPIN(auth)">Отправить PIN</a>
            <div class="login-link">
                <a href="#" ng-click="REGISTER()">Зарегистрироваться</a>
            </div>
        </div>

        <div ng-if="FORM.mode == 'pin'">
            <input class="contact-field" type="text" name="pin" ng-model="FORM.pin" placeholder="PIN" ng-class="{'validation-field': FORM.pin === ''}" />
            <a href="#" class="button button-next" ng-click="$event.preventDefault(); FORM.login(auth)">Подтвердить PIN</a>
        </div>
    </form>
    <div class="modal-footer" ng-if="FORM.mode != 'pin'">
        <label><input type="checkbox" name="accept" ng-model="FORM.rulesAccepted" /> Принять <a target="blank" href="/">условия продажи</a></label>
    </div>
</div>
