<!--<div class="boiler" ng-if="ROOM.isBoilerRoom && BOILER.isBoiler">
    <h1><b><a ng-href="{{LINK_RETURN}}">&lt;</a></b>{{BOILER.canonicalName()}}</h1>
    <div class="info">
    </div>
</div>-->

<div class="room">
    <h1 ng-if="!BOILER_VISIBLE()" class="edit-mode-{{EDITOR.editMode}}"><b><a ng-href="{{LINK_RETURN}}">&lt;</a></b><label ng-click="EDITOR.editMode = true"><span>{{ROOM.name}}</span><input type="text" ng-model="ROOM.name" ng-blur="EDITOR.editMode = false" ng-keyup="EDITOR.pressEnter($event)"></label><a class="delete" ng-href="{{LINK_RETURN}}" ng-click="DELETE_ROOM($event)"></a></h1>
    <h1 ng-if="BOILER_VISIBLE()"><b><a ng-href="{{LINK_RETURN}}">&lt;</a></b>{{BOILER.canonicalName()}}</h1>
    <div class="info">Уточните количество радиаторов в&nbsp;комнате и&nbsp;какого они типа</div>
    <div class="radiators current-item-{{RADIATORS.current}}" ng-class="{'boiler-focus' : BOILER_FOCUS}">
        <div class="item type-boiler" ng-if="BOILER_VISIBLE()" ng-class="{'alt': BOILER.embodiment==2}">
             
        </div>
        <div class="item type{{ITEM.connection}} item-{{$index + 1}}" ng-class="CSS_RADIATOR(ITEM)" ng-repeat="ITEM in RADIATORS_LIST | limitTo:RADIATORS.radiatorsTypes">
            <div class="item-valve">
                <img alt="" ng-src="{{VIEW(ITEM)}}" />
            </div>
        </div>
    </div>
    <div class="is-floors-{{FLOORS.isFloors}}"></div>
    <div class="radiators-control-type-{{RADIATORS.controlType}} thermo-{{RADIATORS.commonControl}}">
        <img ng-if="RADIATORS.commonControl && RADIATORS.commonControl >= 7 && RADIATORS.commonControl <= 8" class="wi-fi" alt="" src="common/img/wi-fi-indicator.png"/>
    </div>
    <div class="floor-control-{{FLOORS.isFloors}} floor-control-{{FLOORS.control}}">
        <img ng-if="FLOORS.control && FLOORS.control == 3" class="wi-fi" alt="" src="common/img/wi-fi-indicator.png" />
    </div>
    
    <div ng-if="ARROWS()">
        <div class="arrow arrow-left" ng-if="ARROW_LEFT()" ng-click="FOCUS_LEFT();"></div>
        <div class="arrow arrow-right" ng-if="ARROW_RIGHT()" ng-click="FOCUS_RIGHT();"></div>
    </div>
</div>