<div class="boiler" ng-if="ROOM.isBoilerRoom && BOILER.isBoiler">
	<h1><b><a ng-href="{{LINK_RETURN}}">&lt;</a></b>{{BOILER.canonicalName()}}</h1>
	<div class="info">
	</div>
</div>
<div class="room"  ng-if="!ROOM.isBoilerRoom">
	<h1 class="edit-mode-{{EDITOR.editMode}}"><b><a ng-href="{{LINK_RETURN}}">&lt;</a></b><label ng-click="EDITOR.editMode = true"><span>{{ROOM.name}}</span><input type="text" ng-model="ROOM.name" ng-blur="EDITOR.editMode = false" ng-keyup="EDITOR.pressEnter($event)"></label></h1>
	<div class="info">Уточните количество радиаторов в&nbsp;комнате и&nbsp;какого они типа</div>
	<div class="radiators current-item-{{RADIATORS.current}}">
		<div class="item-type{{ITEM.connection}} item-{{$index + 1}}" ng-repeat="ITEM in RADIATORS_LIST | limitTo:RADIATORS.radiatorsTypes">
            <div class="item-valve" style="background-image:url({{VIEW(ITEM.valves, ITEM.connection, ITEM.control)}})"></div>
		</div>
	</div>
	<div class="is-floors-{{FLOORS.isFloors}}"></div>
    <div class="radiators-control-type-{{RADIATORS.controlType}} thermo-{{RADIATORS.commonControl}}"></div>
    <div class="floor-control-{{FLOORS.isFloors}} floor-control-{{FLOORS.control}}"></div>
    
	<div ng-if="RADIATORS.radiatorsTypes > 1">
		<div class="arrow arrow-left" ng-if="RADIATORS.current > 1" ng-click="RADIATORS.current = RADIATORS.current - 1; scopeUpdateRADIATOR(RADIATORS_LIST[RADIATORS.current-1]);"></div>
		<div class="arrow arrow-right" ng-if="RADIATORS.current < RADIATORS.radiatorsTypes" ng-click="RADIATORS.current = RADIATORS.current + 1;scopeUpdateRADIATOR(RADIATORS_LIST[RADIATORS.current-1]);"></div>
	</div>
</div>
