<div class="summary-page" ng-show="MODEL.visible(1)">
    <h2>Информация по заказу<!-- № {{PAGE_GENERAL.orderNum}}--> </h2>

    <div id="summary-icons">
        <!--<a href="/#/summary/print" class="print"></a>-->
        <!--<a href="/#/summary/download" class="download"></a>-->
    </div>

    <div class="summary-general" ng-repeat="clause in PAGE_GENERAL.clauses">
        <img ng-src="{{clause.src}}" alt="{{clause.title}}" />
        <div class="summary-general-content">
            <h3>{{clause.title}}</h3>
            <div class="text" ng-bind-html="RAW(clause.html)"></div>
            
            <div class="thumbs" ng-if="clause.thumbs.length > 0">
                <div ng-repeat="icon in clause.thumbs">
                    <a href="#/summary/5/{{icon.src}}"><img ng-src="{{CATALOG[icon.src].image}}?w=83&h=83&mode=pad" alt="" />
                        <span class="thumb-count">
                            {{icon.count | number:0 | ceilNumber}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="summary-footer">
        <a href="/#/summary/2" ng-click="MODEL.setPage(2, $event);">Схема дома <i class="icon-next"></i></a>
    </div>
</div>

<div class="summary-page" ng-show="MODEL.visible(2)">
    <h2>Схема дома</h2>

    <div id="summary-icons">
        <!--<a href="/#/summary/print" class="print"></a>-->
        <!--<a href="/#/summary/download" class="download"></a>-->
    </div>

    <div class="summary-schemes">
        <div class="summary-schemes-collectors">
            <div ng-repeat="collector in PAGE_SCHEME.radiatorCollectors">
                <div class="schemes-connection" ng-repeat="connection in collector.connectedLevelIndex" ng-class="CSS_SCHEME_CONNECTION(collector.installedLevelIndex, connection)"></div>
                <div class="scheme-collector-placeholder" ng-class="CSS_SCHEME_COLLECTOR(collector.installedLevelIndex)"><span class="count">{{collector.entries}}</span><div></div></div>
            </div>
        </div>
        <div class="summary-schemes-collectors floors">
            <div ng-repeat="collector in PAGE_SCHEME.floorCollectors">
                <div class="schemes-connection" ng-repeat="connection in collector.connectedLevelIndex" ng-class="CSS_SCHEME_CONNECTION(collector.installedLevelIndex, connection)"></div>
                <div class="scheme-collector-placeholder" ng-class="CSS_SCHEME_COLLECTOR(collector.installedLevelIndex)"><span class="count">{{collector.entries}}</span><div></div></div>
            </div>
        </div>

        <div class="summary-schemes-level" ng-repeat="level in PAGE_SCHEME.levels">
            <h3>{{level.title}}</h3>
            <div>
                <div class="summary-schemes-room" ng-repeat="room in level.rooms" ng-class="{ 'room-hidden' : !room.show }">
                    <div ng-if="room.show">
                        <div class="contents" ng-class="{ 'radiator' :  room.radiators > 0, 'floor' :  room.floors > 0, 'boiler' : room.boiler }">
                            <span class="count radiator">{{room.radiators}}</span>
                            <span class="count floor" >{{room.floors}}</span>
                        </div>
                        <div class="title">{{room.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="summary-footer">
        <a href="/#/summary/3" ng-click="MODEL.setPage(3, $event);">Набор товаров <i class="icon-next"></i></a>
    </div>
</div>

<div class="summary-page" ng-show="MODEL.visible(3)">
    <h2 class="no-border">Набор товаров</h2>

    <div id="summary-icons">
        <!--<a href="/#/summary/print" class="print"></a>-->
        <!--<a href="/#/summary/download" class="download"></a>-->
    </div>

    <table class="summary-merchandise">
        <thead>
            <tr>
                <th colspan="2">Код</th>
                <th>Наименование</th>
                <th class="qty">Кол-во</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(CODE, COUNT) in BASKET()">
                <td>
                    <img class="thumb" ng-src="{{CATALOG[CODE].image}}?w=55&h=55&mode=pad" alt="{{CATALOG[CODE].name}}" />
                </td>
                <td>{{CODE}}</td>
                <td>
                    {{CATALOG[CODE].name}}
                </td>
                <td class="qty">
                    {{COUNT | number:0 | formatNumber}}
                </td>
                <td>
                    {{CATALOG[CODE].price * COUNT | number:0 | formatNumber}} <span class="rub">руб.</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Итого</td>
                <td>{{BASKET_TOTAL_PRICE()}} <span class="rub">руб.</span></td>
            </tr>
        </tfoot>
    </table>
    
    <div class="summary-footer">
        <a href="/#/summary/4" ng-click="MODEL.setPage(4, $event);">Куда устанавливать <i class="icon-next"></i></a>
    </div>
</div>



<div class="summary-page" ng-show="MODEL.visible(4)">
    <h2 class="no-border">Куда устанавливать</h2>

    <div id="summary-icons">
        <!--<a href="/#/summary/print" class="print"></a>-->
        <!--<a href="/#/summary/download" class="download"></a>-->
    </div>

    <table class="summary-merchandise">
        <tbody ng-repeat="level in PAGE_INSTALLATION.levels">
            <tr class="summary-merchandise-level">
                <td colspan="3">{{level.title}}</td>
                <td class="qty">Кол-во</td>
                <td>Сумма</td>
            </tr>
            <tr ng-repeat-start="group in level.groups" class="summary-merchandise-group">
                <td colspan="5">{{group.title}}</td>
            </tr>
            <tr ng-repeat="item in group.items" ng-repeat-end>
                <td>
                    <img class="thumb" ng-src="{{CATALOG[item.title].image}}?w=55&h=55&mode=pad" alt="{{CATALOG[item.title].name}}" />
                </td>
                <td>{{item.title}}</td>
                <td>
                     {{CATALOG[item.title].name}}
                </td>
                <td class="qty">
                    {{item.count | number:0 | ceilNumber}}
                </td>
                <td>
                    {{CATALOG[item.title].price * item.count | number:0 | formatNumber}} <span class="rub">руб.</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Итого</td>
                <td>{{BASKET_TOTAL_PRICE()}} <span class="rub">руб.</span></td>
            </tr>
        </tfoot>
    </table>

    <div class="summary-footer">
        <a href="/#/summary/5" ng-click="MODEL.setPage(5, $event);">Карточки товаров <i class="icon-next"></i></a>
    </div>
</div>


<div class="summary-page" ng-show="MODEL.visible(5)">
    <h2 class="no-border">Карточки товаров</h2>

    <div id="summary-icons">
        <!--<a href="/#/summary/print" class="print"></a>-->
        <!--<a href="/#/summary/download" class="download"></a>-->
    </div>

    <div class="summary-card-thumbs">
        <div ng-click="MODEL.showCard(CATALOG[CODE], COUNT)" ng-repeat="(CODE, COUNT) in BASKET()">
            <img ng-src="{{CATALOG[CODE].image}}?w=80&h=80&mode=pad" alt="{{CATALOG[CODE].name}}" />
            <div ng-show="MODEL.productCard === CATALOG[CODE]" class="highlight"></div>
            <span class="count" ng-if="COUNT > 1"> {{COUNT | number:0 | formatNumber}}</span>
        </div>
    </div>

    <div class="summary-card-title">
        <div>
            <h3>{{MODEL.productCard.name}}</h3>
            <div class="summary-card-pricing">
                <div>
                    <div>цена</div>
                    <span class="value">{{MODEL.productCard.price | number:0 | formatNumber}}</span> руб.
                </div>
                <div>
                    <div>кол-во</div>
                    <span class="value">{{MODEL.productCard.count | number:0 | formatNumber}}</span> шт.
                </div>
            </div>
        </div>
        <img ng-src="{{MODEL.productCard.image}}?w=400&h=400&mode=pad" alt="{{MODEL.productCard.name}}" />
    </div>

    <div class="summary-card-tab" ng-tabs>
        <div class="summary-card-tab-items">
            <div class="summary-card-tab-item" ng-tab-head="active">Описание</div>
            <div class="summary-card-tab-item" ng-tab-head>Технические характеристики</div>
        </div>

        <div class="summary-card-tab-content" ng-tab-body>
            <div class="description" ng-bind-html="RAW(MODEL.productCard.description)"></div>
            <div class="links">
                <h4>Документация</h4>
                <div class="thumbnail" ng-repeat="link in MODEL.productCard.docs">
                    <a href="{{link.ActionUrl}}" target="_blank">
                        <img src="common/img/summary/icon-download.png" alt="Скачать" />
                    </a>
                    {{link.Name}}
                </div>
            </div>
        </div>

        <div class="summary-card-tab-content" ng-tab-body>
            <div class="tech">
                <table>
                    <tr ng-repeat="r in MODEL.productCard.itemHaracteristics">
                        <th>{{r.name}}</th>
                        <td>{{r.value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--<div class="summary-footer">
            <a href="/#/summary/print" ng-click="PRINT();">Распечатать всю информацию <i class="icon-print-all"></i></a>
        </div>-->
</div>