<div class="summary-sidebar-layout">
    <div class="summary-control-container">
        <div class="summary-nav">
            <a href="#" ng-click="SHOW(1)" ng-class="CSS_CURRENT(1)">Вводные</a>
            <a href="#" ng-click="SHOW(2)" ng-class="CSS_CURRENT(2)">Схема</a>
            <a href="#" ng-click="SHOW(3)" ng-class="CSS_CURRENT(3)">Набор товаров</a>
            <a href="#" ng-click="SHOW(4)" ng-class="CSS_CURRENT(4)">Куда устанавливать</a>
            <a href="#" ng-click="SHOW(5)" ng-class="CSS_CURRENT(5)">Карточки товаров</a>
        </div>
        <div class="summary-controls">
            <a class="print" href="#" ng-click="PRINT()">Распечатать</a>
            <a class="order" href="#" ng-click="ORDER()">Оформить заказ</a>
        </div>
    </div>
</div>