<div class="summary-page autoscroll" ng-show="SHOW_PAGE(1)">
    <h2>Информация по заказу №{{PAGE_GENERAL.orderNum}}</h2>
    <div class="summary-general" ng-repeat="clause in PAGE_GENERAL.clauses">
        <img ng-src="{{clause.src}}" alt="{{clause.title}}" />
        <div class="summary-general-content">
            <h3>{{clause.title}}</h3>
            <p>{{clause.html}}</p>
            
            <div class="thumbs" ng-if="clause.thumbs.length > 0">
                <div ng-repeat="icon in clause.thumbs"><img ng-src="{{icon.src}}" alt="" /><span class="thumb-count" ng-if="icon.count > 1">{{icon.count}}</span></div>
            </div>
        </div>
    </div>
</div>

<div class="summary-page autoscroll" ng-show="SHOW_PAGE(2)">
    <h2>Схема дома</h2>
    <div class="summary-schemes">
        <div class="summary-schemes-level" ng-repeat="level in PAGE_SCHEME.levels">
            <h3>{{level.title}}</h3>
            <div>
                <div class="summary-schemes-room" ng-repeat="room in level.rooms">
                    <div ng-if="room.show">
                        <div class="contents" ng-class="{ 'radiator' :  room.radiators > 0, 'floor' :  room.floors > 0, 'boiler' : room.boiler }">
                            <span class="count radiator" ng-if="room.radiators > 1">{{room.radiators}}</span>
                            <span class="count floor" ng-if="room.floors > 1">{{room.floors}}</span>
                        </div>
                        <div class="title">{{room.title}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="summary-schemes-collectors">
            <div ng-repeat="collector in PAGE_SCHEME.radiatorCollectors">
                <div class="schemes-connection" ng-repeat="connection in collector.connectedLevelIndex" ng-class="CSS_SCHEME_CONNECTION(collector.installedLevelIndex, connection)"></div>
                <div class="scheme-collector-placeholder" ng-class="CSS_SCHEME_COLLECTOR(collector.installedLevelIndex)"><div><a href="#">{{collector.title}}</a></div></div>
            </div>
        </div>
        <div class="summary-schemes-collectors floors">
            <div ng-repeat="collector in PAGE_SCHEME.floorCollectors">
                <div class="schemes-connection" ng-repeat="connection in collector.connectedLevelIndex" ng-class="CSS_SCHEME_CONNECTION(collector.installedLevelIndex, connection)"></div>
                <div class="scheme-collector-placeholder" ng-class="CSS_SCHEME_COLLECTOR(collector.installedLevelIndex)"><div><a href="#">{{collector.title}}</a></div></div>
            </div>
        </div>
    </div>
</div>

<div class="summary-page autoscroll" ng-show="SHOW_PAGE(3)">
    <h2 class="no-border">Набор товаров</h2>
    <table class="summary-merchandise">
        <thead>
            <tr>
                <th colspan="2">Наименование</th>
                <th class="qty">Кол-во</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in PAGE_MERCHANDISE.items">
                <td>
                    <img class="thumb" ng-src="{{item.thumb}}" alt="{{item.title}}" />
                </td>
                <td>
                    {{item.title}}
                </td>
                <td class="qty">
                    {{item.count}}
                </td>
                <td>
                    {{item.rub}} <span class="rub">руб.</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Итого</td>
                <td>{{PAGE_MERCHANDISE.totalRub}} <span class="rub">руб.</span></td>
            </tr>
        </tfoot>
    </table>
</div>



<div class="summary-page autoscroll" ng-show="SHOW_PAGE(4)">
    <h2 class="no-border">Куда устанавливать</h2>
    <table class="summary-merchandise">
        <tbody ng-repeat="level in PAGE_INSTALLATION.levels">
            <tr class="summary-merchandise-level">
                <td colspan="2">{{level.title}}</td>
                <td class="qty">Кол-во</td>
                <td>Сумма</td>
            </tr>
            <tr ng-repeat-start="group in level.groups" class="summary-merchandise-group">
                <td colspan="4">{{group.title}}</td>
            </tr>
            <tr ng-repeat="item in group.items" ng-repeat-end>
                <td>
                    <img class="thumb" ng-src="{{item.thumb}}" alt="{{item.title}}" />
                </td>
                <td>
                    {{item.title}}
                </td>
                <td class="qty">
                    {{item.count}}
                </td>
                <td>
                    {{item.rub}} <span class="rub">руб.</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Итого</td>
                <td>{{PAGE_INSTALLATION.totalRub}} <span class="rub">руб.</span></td>
            </tr>
        </tfoot>
    </table>
</div>
