<div class="summary-sidebar-layout">
    <div class="summary-control-container">
        <div class="summary-nav">
            <a href="#/summary/1" ng-click="" ng-class="CSS_CURRENT(1)">Вводные</a>
            <a href="#/summary/2" ng-click="" ng-class="CSS_CURRENT(2)">Схема</a>
            <a href="#/summary/3" ng-click="" ng-class="CSS_CURRENT(3)">Набор товаров</a>
            <a href="#/summary/4" ng-click="" ng-class="CSS_CURRENT(4)">Куда устанавливать</a>
            <a href="#/summary/5" ng-click="" ng-class="CSS_CURRENT(5)">Карточки товаров</a>
        </div>
        <div class="summary-controls">
            <a class="print" href="#" ng-click="PRINT()">Распечатать</a>
            <a class="order" href="#" ng-click="ORDER()">Оформить заказ</a>
        </div>
    </div>
</div>